
<div class="other">
	<h1>Bienvenido Twitter!</h1>


	<form id="formulario" action="/add" method="post">
		@<input type="text" name="name">
		<input type="submit" value="Enviar">
	</form>
</div>

<a href="/tweet" style="float: right">Tweetear</a>
<a href="twitter.com"></a>

<div class="loading">
	<img src="/loading.gif" height="100" width="100">
</div>
