
<div class="other">
	<h1>Twettear</h1>

	<form action="/tweet" method="post" id="twettear">
		<textarea name="texto" id="area" style="width: 100%" rows="5"></textarea>
		<br><br>
		<input type="submit" value="Enviar">
	</form>
	<div id="result"></div>
</div>

<div class="loading">
	<img src="/loading.gif" height="100" width="100">
</div>